
    {{!-- Preloader --}}
    <header id="preloader" class="view">
        <div class="full-bg-img jumbo-wrapper">
        <img id="ipad" src="./img/mockup.png" class="img-fluid float-right" alt="">
        <div class="mask rgba-black-strong container-fluid d-flex align-items-center justify-content-center">
            <div class="row d-flex justify-content-start">
            <div class="col-md-6 text-left">
                <div class="img-wrapper">
                <img id="brand" src="./img/brand_left_align.png" class="img-fluid animated fadeInDown" alt="">
                </div>
                <hr class="hr-light my-4">
                <p class="lead text-white">Optimize your process cycle, automate standardized tasks and get the talent you really need.</p>
                <a href="#iemployee"><i id="scrollArrow" class="fas fa-angle-down fa-4x animated infinite pulse"></i></a>
            </div>
            </div>
        </div>
        </div>
    </header>


    <!-- TopNav -->
    <div class="navbar navbar-expand-lg navbar-light" id="topNav" data-toggle="affix">
      <div class="container d-flex justify-content-center">
        <ul class="nav navbar-nav">
          <span id="reservation-bar" class="nav-item">You want to hire me? +41 79 129 98 02</span>
        </ul>
      </div>
    </div>

    <!-- Second Nav -->
    <!-- <div class="navbar navbar-expand-lg navbar-light" id="secondNav" data-toggle="affix"></div> -->

    <!-- Main Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" id="mainNav" data-toggle="affix">
      <div class="container">
        <a href="navbar-brand"><img src="/img/icon-512x512.png" alt="" style="width: 50px; height: 50px;"></a>
        <button id="navBtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="mainNavigation">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="#iemployee">iEmployee<sup>&reg;</sup></a>
            <a class="nav-item nav-link" href="#product">Produkt</a>
            <a class="nav-item nav-link" href="#twitter">Wissen</a>
            <a class="nav-item nav-link" href="#media">Medien</a>
            <a class="nav-item nav-link" href="/jobs">Karriere</a>
          </ul>
          <form id="navForm" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Suchen" aria-label="Search">
          </form>
          <i class="fas fa-search"></i>
        </div>
      </div>
    </nav>

    <section id="iemployee">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <!-- Row -->
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-title">iEmployee<sup class="trademark">&reg;</sup></h2>
            <h3 class="section-sub">Personalbeschaffung 2.0</h3>
            <p class="section-lead">In der folgenden wissenschaftlichen Arbeit wird das Potential der natürlichen Sprachverarbeitung (NLP) untersucht. Im Fokus der folgenden Arbeit steht die Prozessautomatisierung in der Personalbeschaffung mittels NLP-Applikationen und Techniken
              des maschinellen Lernens. NLP-Applikationen Textklassifizierung, Syntaxanalyse, Stimmungsanalyse und die Erkennung von Entitäten gelten dabei als die grundlegenden Verfahren von NLP-Applikationen.</p>
          </div>
        </div>
        <!-- Row -->
        <div class="row">
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text" data-artist="Trettmann">
                <div class="icon">
                  <i class="fas fa-tasks fa-4x"></i>
                </div>
                <b>Erfassung</b><br>
                <small>
                   <div class="">
                     <i>Benutzerdefinierte Kriterien</i>
                   </div>
                  </small>
              </div>
            </div>
          </div>
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text" data-artist="Trettmann">
                <div class="icon"><i class="fas fa-database fa-4x"></i></div>
                <b>NLP-Interface</b><br>
                <small>
                   <div class="">
                     <i>Python NLTK, SpaCy, uvm.</i>
                   </div>
                  </small>
              </div>
            </div>
          </div>
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text" data-artist="Trettmann">
                <div class="icon"><i class="fas fa-microchip fa-4x"></i></div>
                <b>Deep Learning</b><br>
                <small>
                    <div class="">
                      <i>SciKit-Learn, Pandas, uvm.</i>
                    </div>
                  </small>
              </div>
            </div>
          </div>
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text" data-artist="Trettmann">
                <div class="icon"><i class="fas fa-file-alt fa-4x"></i></div>
                <b>Auswertung</b><br>
                <small>
                   <div class="">
                     <i>Evaluation</i>
                   </div>
                  </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="voices">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="container">
            <div class="carousel-item active">
              <blockquote class="blockquote text-center">
                <div class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</div>
                <div class="blockquote-footer">Philippe Kull <cite title="Source Title">Fundinfo AG</cite></div>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote text-center">
                <div class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</div>
                <div class="blockquote-footer">Adrian Brasenavaeo <cite title="Source Title">HTW Chur</cite></div>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote text-center">
                <div class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</div>
                <div class="blockquote-footer">Daniele Rossi <cite title="Source Title">Mobiliar</cite></div>
              </blockquote>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </section>

    <section id="product">
      <!-- LEAD -->
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-title">Produkt</h2>
            <h3 class="section-sub">Entdecken Sie neue Möglichkeiten</h3>
            <p class="section-lead">Das multimediale Lehrpojekt ist eine NLP-Applikation. Die Applikation wurde serverseitig mit Node.js programmiert. Die Prozidierung der NLP-Verfahren wurde mit Python programmiert. Python (Child-Prozess) interkommuniziert via Standardinput
              und Standardoutput mit Node (Hauptprozess). Für das Deployment der Applikation wurde Heroku Dyno verwendet.</p>
          </div>
        </div>
      </div>
      <!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <img src="img/scheme.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="jumbotron jumbotron-fluid jumbo-wrapper">
      <div class="container">
        <div class="row justify-content-center text-white">
          <div class="col text-center">
            <i class="fab fa-python fa-2x"></i>
            <p class="tech-text">Python</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-windows fa-2x"></i>
            <p class="tech-text">Windows</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-html5 fa-2x"></i>
            <p class="tech-text">HTML5</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-node-js fa-2x"></i>
            <p class="tech-text">Node.js</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-less fa-2x"></i>
            <p class="tech-text">Less</p>
          </div>
        </div>
      </div>
    </section>

    <section id="twitter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <h2 class="section-title">Wissen</h2>
            <h3 class="section-sub">Das Potential von NLP</h3>
            <p class="section-lead">In der folgenden wissenschaftlichen Arbeit wird das Potential der natürlichen Sprachverarbeitung (NLP) untersucht. Im Fokus der folgenden Arbeit steht die Prozessautomatisierung in der Personalbeschaffung mittels NLP-Applikationen und Techniken
              des maschinellen Lernens. NLP-Applikationen Textklassifizierung, Syntaxanalyse, Stimmungsanalyse und die Erkennung von Entitäten gelten dabei als die grundlegenden Verfahren von NLP-Applikationen.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Natural Language Processing – Verfahren zur maschinellen Verarbeitung von natürlichen Sprachen. Eine Teildisziplin des maschinellen Lernens.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-indigo btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 😎<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
        </div>
        <!-- row -->
      </div>
    </section>

    <section id="media" class="view">
      <!-- The video -->
      <video autoplay muted loop id="myVideo">
          <source src="vid/showreel.webm" type="video/mp4">
      </video>
      <div class="mask container-fluid d-flex align-items-center justify-content-center">
        <div id="video-content" class="row d-flex justify-content-center">
          <div class="col-md-6 text-center text-white">
            <img src="/img/divider.png" class="img-fluid" alt="">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <i id="playToggle" onclick="myFunction()" class="fas fa-pause-circle fa-2x"></i> -->
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <h2 class="section-title">Demo</h2>
            <h3 class="section-sub">Das Potential von NLP</h3>
            <p class="section-lead">In der folgenden wissenschaftlichen Arbeit wird das Potential der natürlichen Sprachverarbeitung (NLP) untersucht. Im Fokus der folgenden Arbeit steht die Prozessautomatisierung in der Personalbeschaffung mittels NLP-Applikationen und Techniken
              des maschinellen Lernens. NLP-Applikationen Textklassifizierung, Syntaxanalyse, Stimmungsanalyse und die Erkennung von Entitäten gelten dabei als die grundlegenden Verfahren von NLP-Applikationen.</p>
          </div>
        </div>
        {{!-- Auswahl --}}
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x200.png&text=Employee" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Ansicht für Arbeitnehmer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/jobs" class="btn btn-secondary">Frontend erkunden</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x200.png&text=Employer" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Ansicht für Arbeitgeber</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/jobs/dashboard" class="btn btn-secondary">Backend erkunden</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x200.png&text=Programmer" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Ansicht für Entwickler</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="login/api" class="btn btn-secondary">API erkunden</a>
              </div>
            </div>
          </div>
        </div>        
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Features</th>
                    <th>Education</th>
                    <th>Gold</th>
                    <th>Platin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>API-Calls (CORS)</td>
                    <td>unlimited</td>
                    <td>250</td>
                    <td>500</td>
                  </tr>
                  <tr>
                    <td>Information Extraction for .docx, .pdf</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Term Frequency - Inverse Document Frequency</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Entity Recognition</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Sentiment Analysis</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Syntax Dependency Tree</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Social Media Analyzer</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Naives Beyer Classifier</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>E-Mail Automation</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Reporting Bot</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-check"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{!-- Footer --}}
    <footer>
        {{!-- Footer Lead --}}
        <div id="footer-lead">
          <div class="container">
              <div class="row">
                  <div class="col-md-2">
                  <div class="lead">Navigation</div>
                  <ul class="footer-nav">
                      <li class=""><a href="#iemployee">iEmployee</a></li>
                      <li class=""><a href="#product">Produkt</a></li>
                      <li class=""><a href="#twitter">Wissen</a></li>
                      <li class=""><a href="#media">Media</a></li>
                      <li class=""><a href="#demo">Demo</a></li>
                  </ul>
                  </div>
                  <div class="col-md-2">
                  <div class="lead">Socials</div>
                  <ul class="footer-nav">
                      <li class=""><a href="">Youtube</a></li>
                      <li class=""><a href="">Twitter</a></li>
                      <li class=""><a href="">Facebook</a></li>
                      <li class=""><a href="">Instagram</a></li>
                  </ul>
                  </div>
                  <div class="col-md-2">
                  <div class="lead">Partners</div>
                  <ul class="footer-nav">
                      <li class=""><a href="">HTW Chur</a></li>
                      <li class=""><a href="">Fundinfo AG</a></li>
                      <li class=""><a href="">Mobiliar</a></li>
                      <li class=""><a href="">tbd</a></li>
                  </ul>
                  </div>
              </div>
          </div>
        </div>
        {{!-- Footer Sub --}}
        <div id="footer-sub">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <div class="text-black">IEMPLOYEE IS A EDUCATIONAL RESEARCH PROJECT</div>
                    </div>
                    <div class="col-md-6 ml-auto text-right">
                    <a href="" class="footer-link">iemployee.com</a>
                    <span>|</span>
                    <a href="" class="footer-link">Terms of Service</a>
                    <a href="" class="footer-link">Privacy</a>
                    <a href="" class="footer-link">Cookies</a>
                    <span>&copy; ajaybachmann.com</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
