
    {{!-- Preloader --}}
    <header id="preloader" class="view">
        <div class="full-bg-img jumbo-wrapper">
        {{!-- <img id="ipad" src="./img/mockup.png" class="img-fluid float-right" alt=""> --}}
        <div class="mask  container-fluid d-flex align-items-center justify-content-center">
            <div class="row d-flex justify-content-start">
            <div class="col-md-6 text-left">
                <div class="img-wrapper">
                  <img id="brand" src="./img/brand_left_align.png" class="img-fluid animated fadeInDown" alt="">
                </div>
                <p class="lead text-white">Optimize your process cycle, automate standardized tasks and get the talent you really need.</p>
                <a href="#iemployee"><i id="scrollArrow" class="fas fa-angle-down fa-4x animated infinite pulse"></i></a>
            </div>
            </div>
        </div>
        </div>
    </header>


    <!-- TopNav -->
    <div class="navbar navbar-expand-lg navbar-light" id="topNav" data-toggle="affix">
      <div class="container d-flex justify-content-center">
        <ul class="nav navbar-nav">
          <span id="reservation-bar" class="nav-item">You want to hire me? +41 79 129 98 02</span>
        </ul>
      </div>
    </div>

    <!-- Second Nav -->
    <!-- <div class="navbar navbar-expand-lg navbar-light" id="secondNav" data-toggle="affix"></div> -->

    <!-- Main Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" id="mainNav" data-toggle="affix">
      <div class="container">
        <a href="navbar-brand"><img src="/img/icon-512x512.png" alt="" style="width: 50px; height: 50px;"></a>
        <button id="navBtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="mainNavigation">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="#iemployee">iEmployee<sup>&reg;</sup></a>
            <a class="nav-item nav-link" href="#product">Produkt</a>
            <a class="nav-item nav-link" href="#twitter">Wissen</a>
            <a class="nav-item nav-link" href="#media">Medien</a>
            <a class="nav-item nav-link" href="/jobs">Karriere</a>
            <a class="nav-item nav-link" href="/jobs/dashboard">Dashboard</a>
          </ul>
          <div class="navbar-nav">
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" href="/users">Sign in</a>
              <a class="btn btn-sm btn-outline-secondary" href="/users">Register</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section id="iemployee">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <!-- Row -->
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-title">iEmployee<sup class="trademark">&reg;</sup></h2>
            <h3 class="section-sub">Personalbeschaffung 2.0</h3>
            <p class="section-lead">Diese Arbeit untersucht die Möglichkeiten der natürlichen Sprachverarbeitung (NLP) und den Einsatz von maschinellen Lernmodellen (ML) für die Optimierung von Geschäftsprozessen im Personalwesen. Das Forschungsdesign ist eine qualitative Forschung, wobei Experten aus Forschung und Entwicklung sowie der Wirtschaft befragt wurden. NLP und ML werden aktuell in der Betriebswirtschaft sowie auch in der Forschung eingesetzt, allerdings konnte der Einsatz im Personalwesen nicht festgestellt werden. Nach den Äusserungen der befragten Experten gelten NLP und ML trotzdem als geeignete Werkzeuge, um den Prozess «Personalgewinnung» in Zukunft zu vereinfachen.</p>
          </div>
        </div>
        <!-- Row -->
        <div class="row">
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text">
                <div class="icon">
                  <i class="fas fa-tasks fa-4x"></i>
                </div>
                <b>Erfassung</b><br>
                <small>
                   <div class="">
                     <i>Benutzerdefinierte Kriterien</i>
                   </div>
                  </small>
              </div>
            </div>
          </div>
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text">
                <div class="icon"><i class="fas fa-database fa-4x"></i></div>
                <b>NLP-Interface</b><br>
                <small>
                   <div class="">
                     <i>Python NLTK, SpaCy, uvm.</i>
                   </div>
                  </small>
              </div>
            </div>
          </div>
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text">
                <div class="icon"><i class="fas fa-microchip fa-4x"></i></div>
                <b>Deep Learning</b><br>
                <small>
                    <div class="">
                      <i>SciKit-Learn, Pandas, uvm.</i>
                    </div>
                  </small>
              </div>
            </div>
          </div>
          <!-- Next Icon -->
          <div class="col-lg-3">
            <div class="item blue-gradient">
              <div class="item-text">
                <div class="icon"><i class="fas fa-file-alt fa-4x"></i></div>
                <b>Auswertung</b><br>
                <small>
                   <div class="">
                     <i>Evaluation</i>
                   </div>
                  </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="voices">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="container">
            <div class="carousel-item active">
              <blockquote class="blockquote text-center">
                <div class="mb-0 lead">Meistens sind 20 bis 30 Prozent Pauschalbewerbungen ohne einen direkten Bezug zur ausgeschriebenen Stelle</div>
                <div class="blockquote-footer">Philippe Kull <cite title="Source Title">Fundinfo AG</cite></div>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote text-center">
                <div class="mb-0 lead">Well the algorithms do a pre-selection, but the best candidate is not necessarily the right candidate for the job</div>
                <div class="blockquote-footer">Adrian Brasoveanu <cite title="Source Title">HTW Chur</cite></div>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote text-center">
                <div class="mb-0 lead">Bei Entscheidungen, die eine menschliche Komponente verlangen, wie z. B. Kulanz, ist die Modellierung eines Algorithmus eine schwierige Aufgabe</div>
                <div class="blockquote-footer">Experte I-2 <cite title="Source Title">Anonymisiert</cite></div>
              </blockquote>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </section>

    <section id="product">
      <!-- LEAD -->
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-title">Produkt</h2>
            <h3 class="section-sub">Entdecken Sie neue Möglichkeiten</h3>
            <p class="section-lead">Das multimediale Lehrpojekt von Allan Bachmann ist eine Cloud-Applikation (SaaS). Die Applikation wurde serverseitig mit Node.js programmiert. Die Prozidierung der NLP-Verfahren wurde mit Python und Node.js programmiert. Python (Child-Prozess) interkommuniziert via Standardinput
              und Standardoutput mit Node (Hauptprozess). Für das Deployment der Applikation wurde Heroku Dyno, eine Plattform für Cloud-Applikationen, verwendet.</p>
          </div>
        </div>
      </div>
      <!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <img src="img/scheme.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="jumbotron jumbotron-fluid jumbo-wrapper">
      <div class="container">
        <div class="row justify-content-center text-white">
          <div class="col text-center">
            <i class="fab fa-python fa-2x"></i>
            <p class="tech-text">Python</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-windows fa-2x"></i>
            <p class="tech-text">Windows</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-html5 fa-2x"></i>
            <p class="tech-text">HTML5</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-node-js fa-2x"></i>
            <p class="tech-text">Node.js</p>
          </div>
          <div class="col text-center">
            <i class="fab fa-less fa-2x"></i>
            <p class="tech-text">Less</p>
          </div>
        </div>
      </div>
    </section>

    <section id="twitter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <h2 class="section-title">Wissen</h2>
            <h3 class="section-sub">Das Potential von NLP</h3>
            <p class="section-lead">Die natürliche Sprachverarbeitung ist eine Teildisziplin der künstlichen Intelligenz und der Computerlinguistik. Mithilfe von syntaktischen und semantischen Methoden werden textanalytische Funktionen vorgenommen, welche dem Mitarbeiter eine datengestützte Entscheidungsfindung ermöglichen.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Natural Language Processing – Verfahren zur maschinellen Verarbeitung von natürlichen Sprachen. Eine Teildisziplin des maschinellen Lernens.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Natural Language Processing - Die Normalisierung von Synonymen, Akronymen und Homonymen ist eine schwierige Aufgabe.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Insider Wissen: Der heutige Rekrutierungsprozess ist komplex, da jede Stelle über eigene spezifische Merkmale verfügt.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Ein wichtiger Punkt ist jedoch die Evaluation der Modelle anhand verschiedener Messgrössen wie Accuracy, Precision und Recall.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Kognitive Informationstechnik - Die Machine besitzt immer die gleiche Erkennungsrate. Repetitive Aufgaben können von der Maschine übernommen werden.<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
          <div class="col-md-6">
            <div class="twitter-wrapper">
              <div class="twitter-content">
                <p class="twitter-post">Anders als von Computern genutzte formale Sprachen folgt der Einsatz der natürlichen Sprache insbesondere in Social Media nicht konsequent klaren Regeln. Rofl!! <a href="">#NLP</a> 😎<span class="twitter-link"> <a href="#">https://t.co/U16QWK1qtQ</a></span></p>
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="twitter-date">
                      06:00 PM 12. MAY 2018
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="twitter-button">
                      <button type="button" class="btn btn-outline-secondary btn-sm">View Tweet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col-md-6 -->
        </div>
        <!-- row -->
      </div>
    </section>

    <section id="media" class="view">
      <!-- The video -->
      <video autoplay muted loop id="myVideo">
          <source src="vid/final.webm" type="video/webm">
      </video>
      <div class="mask media-overlay container-fluid d-flex align-items-center justify-content-center">
        <div id="video-content" class="row d-flex justify-content-center">
          <div class="col-md-6 text-center text-white">
            <img src="/img/divider.png" class="img-fluid" alt="">
            <p class="lead">Optimieren Sie die Effizienz, Effektivität und Qualität im Human Resources mit iEmployee</p>
            <!-- <i id="playToggle" onclick="myFunction()" class="fas fa-pause-circle fa-2x"></i> -->
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/divider.png" class="img-fluid brand-divider" alt="">
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <h2 class="section-title">Demo</h2>
            <h3 class="section-sub">Das Potential von NLP</h3>
            <p class="section-lead">In der folgenden wissenschaftlichen Arbeit wird das Potential der natürlichen Sprachverarbeitung (NLP) untersucht. Im Fokus der folgenden Arbeit steht die Prozessautomatisierung in der Personalbeschaffung mittels NLP-Applikationen und Techniken
              des maschinellen Lernens. NLP-Applikationen Textklassifizierung, Syntaxanalyse, Stimmungsanalyse und die Erkennung von Entitäten gelten dabei als die grundlegenden Verfahren von NLP-Applikationen.</p>
          </div>
        </div>
        {{!-- Auswahl --}}
        <div class="row">
          <div class="col-md-4">
            <div class="card discover-app">             
              <div class="card-body">
                <h5 class="card-title">Ansicht für Arbeitnehmer</h5>
                <p class="card-text">Das multimediale Lehrprojekt aus Sicht der Arbeitnehmer.</p>
                <a href="/jobs" class="btn btn-secondary">Frontend erkunden</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card discover-app">              
              <div class="card-body">
                <h5 class="card-title">Ansicht für Arbeitgeber</h5>
                <p class="card-text">Das multimediale Lehrprojekt aus Sicht der Arbeitgeber.</p>
                <a href="/jobs/dashboard" class="btn btn-secondary">Backend erkunden</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card discover-app">
              <div class="card-body">
                <h5 class="card-title">Ansicht für Entwickler</h5>
                <p class="card-text">Das multimediale Lehrprojekt aus Sicht des Entwicklers.</p>
                <a href="/nlp" class="btn btn-secondary">API erkunden</a>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </section>

    {{!-- Footer --}}
    <footer>
        {{!-- Footer Lead --}}
        <div id="footer-lead">
          <div class="container">
              <div class="row">
                  <div class="col-md-2">
                  <div class="lead">Navigation</div>
                  <ul class="footer-nav">
                      <li class=""><a href="#iemployee">iEmployee</a></li>
                      <li class=""><a href="#product">Produkt</a></li>
                      <li class=""><a href="#twitter">Wissen</a></li>
                      <li class=""><a href="#media">Media</a></li>
                  </ul>
                  </div>
                  <div class="col-md-2">
                  <div class="lead">Social Media</div>
                  <ul class="footer-nav">
                      <li class=""><a href="https://www.linkedin.com/in/ajaybachmann" target="_blank">LinkedIn</a></li>
                      <li class=""><a href="https://twitter.com/ajaybachmann" target="_blank">Twitter</a></li>
                      <li class=""><a href="https://facebook.com/ajaybachmann" target="_blank">Facebook</a></li>
                      <li class=""><a href="https://instagram.com/ajaybachmann" target="_blank">Instagram</a></li>
                  </ul>
                  </div>
                  <div class="col-md-2">
                  <div class="lead">Partners</div>
                  <ul class="footer-nav">
                      <li class=""><a href="https://www.htwchur.ch" target="_blank">HTW Chur</a></li>
                      <li class=""><a href="https://www.fundinfo.com/de/home/" target="_blank">Fundinfo AG</a></li>
                      <li class=""><a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
                  </ul>
                  </div>
              </div>
          </div>
        </div>
        {{!-- Footer Sub --}}
        <div id="footer-sub">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-1">
                      <div class="text-black">Multimediales Lehrprojekt von Allan Bachmann</div>
                      <div class="text-black">mmp15c2</div>
                    </div>
                    <div class="col-md-6 col-sm-8 footer-2">
                      <a href="www.iemployee.ch" class="footer-link">iemployee.ch</a>
                        <div>&copy; ajaybachmann.ch</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
